<h1>Welcome, <%=@user.username%></h1>
</br>

<%Marker.all.each do |marker|%>
<h4> <i class="icon-map-marker" ></i> <%=marker.name%> <a href="/markers/edit/<%=marker.id%>">edit</a></h4>
<%end%>
</br></br>
<p>Click <a href="/markers/new">here</a> to add a new plot</br></br>
<p><a href="/logout">Logout</a></p>