<h1>Create a new marker</h1>

<form action="/markers" method="POST">
	Name: <input type="text" name="name" id="name" required></input><br>
	Location: <input type="text" name="location" id="location" ></input><br>
	Website: <input type="text" name="website" id="website"></input><br>
	Details: <input type="text" name="details" id="details"> </input><br>
  <input class="btn btn-primary" type="submit" value="Add it to your Plot.">
</form>

<p><a href="/logout">Logout</a></p>
