<h1>Login to your Account</h1>
<form class="form-horizontal" action="/login" method="POST">

  Username: <input type="text" name="username" id="username"></input></br></br>
  Password: <input type="password" name="password" id="password"></input></br></br>
  <input class="btn btn-primary" type="submit" value="submit"></br></br>
  Follow this <a href="/signup">link</a> to get signed up!
</form>