<!DOCTYPE html>
<html>
  <head>
  	<h1>Welcome to Plot.</h1>
  	<body>
  	<p>Please <a href="/login">Login</a> or <a href="/signup">Signup</a></p>
  </body>
  <img src="./img/PaperMaps_1140x960.jpg">
</html>


